<p id="notice"><%= notice %></p>

<p>
  <strong>Beer club:</strong>
  <%= @membership.beer_club.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user.username %>
</p>

<% if not current_user.nil? %>
  <%= link_to 'Edit', edit_membership_path(@membership) %> |
<% end %>
<%= link_to 'Back', memberships_path %>
