

<h2>
  <strong><%= @user.username %>
    <% if @user.closed %>
      <span class="badge badge-primary">account closed</span>
    <% end %>
  </strong>
</h2>

<% if !current_user.nil? && current_user.admin && current_user != @user %>
  <p>
    <% if @user.closed %>
      <%= (link_to 'Open account', open_user_path(@user), method: :post, data: { confirm: 'Open this account?' }, class: "btn btn-danger") %>
    <% else %>
      <%= (link_to 'Close account', close_user_path(@user), method: :post, data: { confirm: 'Close this account?' }, class: "btn btn-danger") %>
    <% end %>
  </p>
<% end %>


<p>
  <% if @user.ratings.empty? %>
    User has not done any ratings yet!
  <% else %>
    <p>Has made <%= pluralize(@user.ratings.count, 'rating', 'ratings')%>, average rating <%= @user.average_rating%></p>
    <p>Favorite beer: <%= @user.favorite_beer.name %></p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
    <p>Preferred style: <%= @user.favorite_style.name %></p>
  <% end %>
</p>

<p>
  
  <% if @user.memberships.empty? %>
    Not a member of any clubs.
  <% else %>
    Member of
    <ul>
      <% @user.memberships.each do |membership| %>
        <li>
          <%= link_to membership.beer_club.name, beer_club_path(membership.beer_club) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<h3>
  <strong> ratings </strong>
</h3>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= edit_and_destroy_buttons(@user) %>
<% end %>
