<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @user.username %></strong>
</h2>

<p>
  <% if @user.ratings.empty? %>
    User has not done any ratings yet!
  <% else %>
    <p>Has made <%= pluralize(@user.ratings.count, 'rating', 'ratings')%>, average rating <%= @user.average_rating%></p>
    <p>Favorite beer: <%= @user.favorite_beer.name %></p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
    <p>Preferred style: <%= @user.favorite_style %></p>
  <% end %>
</p>

<p>
  
  <% if @user.memberships.empty? %>
    Not a member of any clubs.
  <% else %>
    Member of
    <ul>
      <% @user.memberships.each do |membership| %>
        <li>
          <%= link_to membership.beer_club.name, beer_club_path(membership.beer_club) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<h3>
  <strong> ratings </strong>
</h3>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', users_path %>
<% if @user == current_user %>
  |
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
