<h1>Ratings</h1>

<div class="row">
  <div class="col-1 col-sm-4">
    <h3>Best beers</h3>
    <%= render 'list', given_parameters: @top_beers %>
  </div>
  <div class="col-2 col-sm-4">
    <h3>Best breweries</h3>
    <%= render 'list', given_parameters: @top_breweries %>
  </div>
  <div class="col-3 col-sm-4">
    <h3>Best styles</h3>
    <%= render 'list', given_parameters: @top_styles %>
  </div>
</div>

<h3>Most active users</h3>

<%= render 'list', given_parameters: @top_users %>

<h4>Recent ratings</h4>

<ul>
 <% @recent.each do |rating| %>
  <li> <%= rating %> <%= link_to rating.user.username, user_path(rating.user) %> at <%= rating.created_at %> </li>
 <% end %>
</ul>
