

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<h2>
  Established at <%= @brewery.year %>
</h2>

<p>
  <strong>Number of Beers:</strong>  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
    Brewerys beers have not been rated yet!
  <% else %>
    Has <%= pluralize(@brewery.ratings.count, 'rating', 'ratings')%>, average <%= @brewery.average_rating%>
  <% end %>
</p>

<% if not current_user.nil? %>
  <%= (link_to 'Edit', edit_brewery_path(@brewery), class:'btn btn-primary') %> |
<% end %>
