

<h1>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="badge badge-info">retired</span>
  <% end %>
</h1>

<h3>
  Established at <%= @brewery.year %>
</h3>

<p>
  <strong>Number of Beers:</strong>  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
    Brewerys beers have not been rated yet!
  <% else %>
    Has <%= pluralize(@brewery.ratings.count, 'rating', 'ratings')%>, average <%= @brewery.average_rating%>
  <% end %>
</p>

<% if not current_user.nil? %>
  <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
  <br>
  <%= edit_and_destroy_buttons(@brewery) %>
<% end %>
